<template>
  <div>
      <h1> OX The Game </h1>
      <OXTable />
  </div>
</template>
<script>
import OXTable from '../components/OXTable.vue'
export default {
  components: {
    OXTable: OXTable
  }
}
</script>
<style></style>
