<template>
  <div @click="clickCell" :class="{cell: true, cellX:player==='X', cellO:player==='O', grade: grade}">{{ player }}</div>
</template>
<script>
export default {
  props: ['player', 'row', 'col', 'grade'],
  methods: {
    clickCell (event) {
      // console.log(event)
      // console.log('click' + this.row + ' ' + this.col)
      if (this.player !== '-') return
      this.$emit('cell-click', this.row, this.col)
    }
  }
}
</script>
<style>
.cellX{
  color: rgb(240, 128, 128);
}
.cellO{
  color: rgb(128, 130, 240);
}
.cell{
  font-size: 40pt;
}
.grade{
  background-color: rgb(107, 235, 81);
}
</style>
